<html>
    <body>
        <table>
            <tr>
                <td>
                    Dear UDSPL Team,

                </td>
            </tr>
            <tr>
                <td>
                    Following company has registered in our portal to activate his profile 

                </td>
            </tr>

            <tr>
                <td>
                 <table>
                    <tr>
                        <td>Company Name</td>
                        <td>[[COMPANYNAME]]</td>
                    </tr>
                    <tr>
                        <td>Company Address</td>
                        <td>[[COMPANYADDRESS]]</td>
                    </tr>
                    <tr>
                        <td>Company Contact No</td>
                        <td>[[COMPANYADDRESS]]</td>
                    </tr>
                 </table>

                </td>
            </tr>

            <tr>
                <td>
                    Please review his profile and activate it.

                </td>
            </tr>
        </table>
        
        

        
        
    </body>
</html>