{% extends 'header.html' %}
{% load static %}
{% block content %}

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Invoice</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard
                                            </a></li>
                                        <li class="breadcrumb-item active">Transaction</li>
                                        <li class="breadcrumb-item active">Invoice</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="h-100">
                                            <div class="row mb-3 pb-1">
                                                <div class="col-12">
                                                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                                    </div>
                                                </div>
                                            </div>
                                            <form method="POST" action="/invoice_file/">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-lg-10 offset-1 ">
                                                        <div class="card" style="padding:25px;">
                                                            <div class="card-header align-items-center d-flex">
                                                                <h1 class="card-title mb-0 flex-grow-1"><center>INVOICE</center></h1>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="live-preview">
                                                                    <div class="row gy-4">
                
                                                                        <div class="col-xxl-12 col-md-6">
                                                                            <div>
                                                                                <label for="exampleInputrounded" class="form-label">
                                                                                    Invoice Number : </label>
                                                                                <input type="text" class="form-control rounded-pill"
                                                                                    name="Invoice_Number" value = "{{Invoice_no}}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xxl-6 col-md-6">
                                                                            <div>
                                                                                <label for="exampleInputrounded" class="form-label">
                                                                                    Invoice Date : </label>
                                                                                <input type="date" class="form-control rounded-pill" id="date" name="invoice_date">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xxl-6 col-md-6">
                                                                            <div>
                                                                                <label for="exampleInputrounded"
                                                                                    class="form-label">Invoice Due Date : </label>
                                                                                <input type="date" class="form-control rounded-pill"
                                                                                     name="Invoice_Due_Date" value = "{{Due_Date}}" id = "invoice_duedate">
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="col-xxl-6 col-md-6">
                                                                            <div>
                                                                                <label for="exampleInputrounded"
                                                                                    class="form-label">PO : </label>
                                                                                <input type="text" class="form-control rounded-pill"
                                                                                     name="invoice_po">
                                                                            </div>
                                                                        </div>

                                                                       
                                                                        
                                                                        <div class="col-xxl-6 col-md-6">
                                                                            <div>
                                                                                
                                                                                    <select name="dealer" id = "dealerinfo" class="form-control rounded-pill">
                                                                                        {% for x in alldealer %} 
                                                                                            <option value="{{x.id}}" ><b> {{x}}</b></option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                

        
                                                                            </div>
                                                                        </div>

                                                                        <br>
                                                                        <br>
                                                                        <div class="col-xxl-6 col-md-3">
                                                                            <div>
                                                                                <label for="exampleInputrounded"
                                                                                    class="form-label">Invoice Type :</label>&nbsp;&nbsp;
                                                                                <input type="checkbox" 
                                                                                     name="Invoice_Type">
                                                                                <label>Actual Invoice</label>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="col-xxl-6 col-md-6">
                                                                            <div id = "viewdealer">

                                                                            </div>
                                                                        </div>

                                                                        <div class="col-xxl-6 col-md-6">
                                                                            <div>
                                                                                {% for i in c_id %}
                                                                                    <p><b>Company Name :  </b>{{i.Company_Name}}</p>
                                                                                    <p><b>Owner Name : </b>{{i.Owner_name}}</p>
                                                                                    <p><b>Address :    </b>{{i.Address}}</p>
                                                                                    <p><b>Email :  </b>{{i.Email_Address}}</p>
                                                                                    <p><b>Phone No :   </b>{{i.Phone_Number}}</p>
                                                                                    <p><b>GST NO. :    </b>{{i.GST_Number}}</p>
                                                                                    <p><b>Office NO. : </b>{{i.Office_Number}}</p>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                       

                                                                        

                                                                        <style>
                                                                            table, th, td {
                                                                              border: 1px solid black;
                                                                            }
                                                                        </style>
                                                                        
                                                                        <div class="col-xxl-6 col-md-3">
                                                                            
                                                                            <B>Selcet A value to Add new Row </B> 
                                                                            <SELECT  style="width: 150px;" id="question-subject" name="selecteditem">
                                                                                {% for x in allitem %} 
                                                                                    <option value='{{x.id}}' ><b>{{x.item_name}}</b></option>
                                                                                {% endfor %}
                                                                            </SELECT>&nbsp; 
                                                                            
                                                                        </div> 
                                                                            <table border="1"  width="250px">
                                                                                <thead>
                                                                                    <TR>
                                                                                        <th align="center"><INPUT  type="text" size="10px" value="Item Name"></th> 
                                                                                        <th><INPUT  type="text" size="19px" value="Description"/></th>
                                                                                        <th><INPUT  type="text" size="19px" value="Model Name"/></th>
                                                                                        <th><INPUT  type="text" size="19px" value="AMP" /></th>
                                                                                        <th><INPUT  type="text" size="19px" value="Avilable Quantity"/></th>
                                                                                        <th><INPUT type="text" size="19px" value="Quantity"/></th>
                                                                                        <th><INPUT  type="text" size="19px" value="Rate"/></th>
                                                                                        <th><INPUT  type="text" size="15px" value="Amount"/></th>
                                                                                    </TR>
                                                                                
                                                                                </thead>
                                                                            </table>
                                                                            <table id="dataTable">
                                                                                <!-- <TR>
                                                                                
                                                                                    <TD style="height:0px;width:80PX"><INPUT type="hidden" /></TD>
                                                                                    <TD style="height:0px;width:128px"><INPUT type="hidden" /></TD>
                                                                                    <TD style="height:0px;width:125px"><INPUT type="hidden" /></TD>
                                                                                    <TD style="height:0px;width:125px"><INPUT type="hidden" /></TD>
                                                                                    <TD style="height:0px;width:125px"><INPUT type="hidden" /></TD>
                                                                                    <TD style="height:0px;width:125px"><INPUT type="hidden" /></TD>
                                                                                    <TD style="height:0px;width:130px"><INPUT type="hidden" /></TD>
                                                                                    <TD style="height:0px;width:105px"><INPUT type="hidden" /></TD>
                                                                                    
                                                                                </TR> -->

                                                                            </table> 
                
                                                                        <br>
                                                                        <br>
                                                                        <div class="col-md-4 offset-8">
                                                                            <table class="table table-striped table-bordered table-sm" style="width: 400px; float: right !important;">
                                                                                <tbody>
                                                                                    <tr>    
                                                                                        <th>SGST (9 %):</th>
                                                                                        <td>
                                                                                            <input type="text" name="sgst" value = "SGST 9%">
                                                                                        </td>   
                                                                                    </tr>
                                                                                    <tr>    
                                                                                        <th>CGST (9 %):</th>
                                                                                        <td>
                                                                                            <input type="text" name="cgst" value = "CGST 9%">
                                                                                        </td>   
                                                                                    </tr>
                                                                                    <tr>    
                                                                                        <th>Total Bil Amount :</th>
                                                                                        <td>
                                                                                            <input type="text" name="total" value = "10000">
                                                                                        </td>   
                                                                                    </tr>
                                                                                
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <div>
                                                                            <a href=""><button type="submit" style="width: 70px;">Save</button></a>
                                                                            <a href="#"><button type="submit" style="width: 90px;">Preview</button></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        
                                        <script
                                            src="http://code.jquery.com/jquery-3.5.1.min.js"
                                            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                                            crossorigin="anonymous">
                                        </script>

                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>

                                        <script>
                                            function yourfunction(radioid)
                                        {
                                        if(radioid == 0)
                                        {
                                            document.getElementById('one').style.display = '';
                                            document.getElementById('two').style.display = 'none'; 
                                        }
                                        else if(radioid == 1)
                                        {    
                                            document.getElementById('one').style.display = '';
                                            document.getElementById('two').style.display = 'none';

                                        }
                                        else if(radioid == 2)
                                        {  
                                            
                                            document.getElementById('two').style.display = '';
                                            document.getElementById('one').style.display = 'none';
                                        }

                                        }
                                        </script>

                                        <script>
                                            $(document).ready(function(){
                                        
                                                // Initialize select2
                                                $("#12").select2();
                                            
                                                // Read selected option
                                            
                                            });
                                            $(document).ready(function(){
                                        
                                                // Initialize select2
                                                $("#23").select2();
                                            
                                                // Read selected option
                                            
                                            });
                                            
                                        </script>

                                         <!-- <script>
                                            function deleteRow(row) {


                                                $("#deleteRow").click(function (){
                                                    $("#tblTradesman").each(function(){
                                                        if($('tbody', this).length > 1){
                                                            $('tbody tr:last', this).remove();
                                                        }else {
                                                            alert("please first add new item")
                                                        }
                                                    });
                                                });	


                                                var i = row.parentNode.parentNode.rowIndex;
                                                document.getElementById('invoiceitemable').deleteRow(i !=1, i !=2);
                                              }
                                              
                                            function insRow() {
                                            console.log('hi');
                                            var x = document.getElementById('invoiceitemable');
                                            var new_row = x.rows[1].cloneNode(true);
                                            var len = x.rows.length;
                                            new_row.cells[0].innerHTML = len;
                                            
                                            var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
                                            inp1.id += len;
                                            inp1.value = '';
                                            var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
                                            inp2.id += len;
                                            inp2.value = '';
                                            x.appendChild(new_row);
                                            
                                            }
                                        </script>  
 -->

                                        <script>
                                            $('#date').val(new Date().toJSON().slice(0,10));
                                        </script>


                                        <script>
                                            function deleteRow(tableID) {
                                                try {
                                                    var table = document.getElementById(tableID);
                                                    var rowCount = table.rows.length;
                                                    for(var i=0; i<rowCount; i++) {
                                                    var row = table.rows[i];
                                                    var chkbox = row.cells[0].childNodes[0];
                                                    if(null != chkbox && true == chkbox.checked) {
                                                    if(rowCount <= 1) {
                                                    alert("Cannot delete all the rows.");
                                                    break;
                                                    }
                                                    table.deleteRow(i);
                                                    rowCount--;
                                                    i--;
                                                    }
                                                    }
                                                }catch(e) {
                                                alert(e);
                                                }
                                            }
                                            
                                        </script>
                                        <!-- $(document).ready(function()
                                        {
                                            $('tr').each(function(){
                                                var totamount = 0;
                                                $(this).find('.amt'),each(function(){
                                                    var amout=$(this).text();
                                                    if(amout.length!==0)
                                                    {
                                                        totamount+=parseFloat(amout);
                                                    }
                                                });
                                                $(this).find('#totamount').html(totamount);
                                            });
                                        }); -->
                                        

                                        <script>
                                            $("#question-subject").change(function () {
                                                const subjectId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
                                                console.log(subjectId)
                                                $.ajax({                       // initialize an AJAX request
                                                    type: "POST",
                                                    url: '/get_items_ajax/',
                                                    data: {
                                                        'item_id': subjectId,       // add the country id to the POST parameters
                                                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                                                    },
                                                    success: function (data) {   // `data` is from `get_topics_ajax` view function
                                                       // replace the contents of the topic input with the data that came from the server
                                                        console.log(data);
                                                        var table = document.getElementById("dataTable");
                                                            var rowCount = table.rows.length;
                                                            var row = table.insertRow(rowCount);
                                                            var colCount = table.rows[0].cells.length;
                                                            console.log(colCount);
                                                            for(var i=0; i<colCount-1; i++) {
                                                                var newcell = row.insertCell(i);
                                                                newcell.innerHTML = table.rows[0].cells[i].innerHTML;
                                                                newcell.childNodes[0].id = "txt"+rowCount;
                                                                
                                                                if (i==0){

                                                                    $("#dataTable").append(
                                                                       
                                                                        `<tr>
                                                                            <td style="height:10px;width:120px" name = "item_name">${data[0].item_name}</td>
                                                                            <td style="height:10px;width:195px">${data[0].item_description}</td>
                                                                            <td style="height:10px;width:195px">${data[0].model_name}</td>
                                                                            <td style="height:10px;width:190px">${data[0].Ampear}</td>
                                                                            <td style="height:10px;width:195px">${data[0].Quantity}
                                                                            </td>
                                                                            <td style="height:10px;width:188px"><span class="wpcf10-form-control-wrap eon-black-qty">
                                                                            <a href = "#"><input type="number" name="item_quntity" id = "totl"  value="${data[0].id}" style="width:190px; height:70px;!important" min="0" max="9999" aria-invalid="false">

                                                                            </span></td>
                                                                            <td style="height:10px;width:195PX">${data[0].DP_price}</td>
                                                                            <td style="height:10px;width:158px"><span class="wpcf10-form-control-wrap eon-black-qty">
                                                                                <input type="text" id="totamount" name="total" value="{{sum}}" style="width:158px; height:70px;!important" min="0" max="9999" aria-invalid="false">
                                                                                </span>
                                                                            </td>
                                                                            

                                                                            
                                                                            
                                                                            
                                                                        </tr>`);
                                                                   
                                                                        }
                                                                
                                                                    }


                                                                }
                                                            });
                                                        });
                                        </script>
                                                                                                                                                                                                                

                                        
                                        
                                       
                                        <script>
                                            $("#totl").change(function () {
                                                const dataID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
                                                console.log(dataID)
                                                $.ajax({                       // initialize an AJAX request
                                                    type: "POST",
                                                    url: '/get_sum/',
                                                    data: {
                                                        'dataID': dataID,       // add the country id to the POST parameters
                                                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                                                    },
                                                    success: function (data) {   // `data` is from `get_topics_ajax` view function
                                                       // replace the contents of the topic input with the data that came from the server
                                                        console.log(data);
                                                    }
                                                });
                                            });
                                        </script>
                                       
                                       
                                        <script>
                                            $("#dealerinfo").change(function () {
                                                const dealinfo = $(this).val();  // get the selected subject ID from the HTML dropdown list 
                                                
                                                $.ajax({                       // initialize an AJAX request
                                                    type: "POST",
                                                    url: '/dealerinformation/',
                                                    data: {
                                                        'dealinfo': dealinfo,       // add the country id to the POST parameters
                                                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                                                    },
                                                    success: function (data) {   // `data` is from `get_topics_ajax` view function
                                                       // replace the contents of the topic input with the data that came from the server
                                                        console.log(data);
                                                        $("#viewdealer").empty();
                                                        $("#viewdealer").append

                                                        
                                                            var mainContainer = document.getElementById("viewdealer");
                                                            for (var i = 0; i < data.length; i++) {
                                                              var div = document.createElement("div");
                                                            
                                                              console.log(data[0].id);
                                                              div.innerHTML = "<b>" + 'Dealer Company Name  : '+ "</b>"   + data[0].dealer_company_name + "<br/>" + "<br/>" 
                                                          
                                                                            +"<b>" + 'Dealer Name :    ' + "</b>" + data[i].dealre_name + "<br/>" + "<br/>" 
                                                                            +"<b>" + 'Dealer Address : ' +"</b>" + data[i].dealer_address + "<br/>" + "<br/>" 
                                                                            +"<b>" + 'Dealer Email :   ' +"</b>" + data[i].dealer_email_address  + "<br/>"+ "<br/>" 
                                                                            +"<b>" + 'Dealer Mobile NO. :  ' +"</b>" + data[i].dealer_phone_number + "<br/>"+ "<br/>" 
                                                                            +"<b>" + 'Dealer GST Number :  ' +"</b>" + data[i].gst_number+ "<br/>"+ "<br/>" 
                                                                            +"<b>" + 'Dealer Office NO. :  ' +"</b>" + data[i].dealer_office_number;


                                                              mainContainer.appendChild(div);
                                                            }
                                                          

                                                    }
                                                                
                                              
                                                });
                                            });
                                        
                                        </script>

                                        <script>
                                            $("#customerinfo").change(function () {
                                                const custinfo = $(this).val();  // get the selected subject ID from the HTML dropdown list 
                                                console.log(custinfo)
                                                $.ajax({                       // initialize an AJAX request
                                                    type: "POST",
                                                    url: '/customerinformation/',
                                                    data: {
                                                        'custinfo': custinfo,       // add the country id to the POST parameters
                                                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                                                    },
                                                    success: function (data) {   // `data` is from `get_topics_ajax` view function
                                                       // replace the contents of the topic input with the data that came from the server
                                                        console.log(data);
                                                        $("#viewdealer").empty();
                                                        $("#viewdealer").append

                                                        
                                                            var mainContainer = document.getElementById("viewdealer");
                                                            for (var i = 0; i < data.length; i++) {
                                                              var div = document.createElement("div");
                                                            
                                                              console.log(data[0].id);
                                                              div.innerHTML = "<b>" +'Customer Company Name  : '+ "</b>"  + data[0].dealer_company_name + "<br/>"  + "<br/>"
                                                                            +"<b>" + 'Customer Name :    ' + "</b>"  + data[i].dealre_name + "<br/>"  + "<br/>"
                                                                            +"<b>" + 'Customer Address : ' + "</b>"  + data[i].dealer_address + "<br/>"  + "<br/>"
                                                                            +"<b>" + 'Customer Email :   ' + "</b>"  + data[i].dealer_email_address  + "<br/>" + "<br/>"
                                                                            +"<b>" + 'Customer Mobile NO. :  ' + "</b>"  + data[i].dealer_phone_number + "<br/>" + "<br/>"
                                                                            +"<b>" + 'Customer GST Number :  ' + "</b>"  + data[i].gst_number+ "<br/>" + "<br/>"
                                                                            +"<b>" + 'Customer Office NO. :  ' + "</b>"  + data[i].dealer_office_number;


                                                              mainContainer.appendChild(div);
                                                            }
                                                          

                                                    }
                                                                
                                              
                                                });
                                            });
                                        
                                        </script>

                                    </div> 
            
                                </div>
                            </div>
                        </div>   
                    </div> 
                </div>
            </div>
        </div>


{% endblock %}