<html>
    <head>
        <title>
            regiterd successfully
        </title>
    </head>
    <body>
        <center>
            <div id='upper-side'>
                <i class="fa fa-check"></i>
                <h1 style = "color:blue"  id='status'> You have successfully registered</h1>
                <h2 style = "color:blue">We will provide you your credential in your registered mail, once admin approve your registration</h2> 
                <a href = "/companylogin/"><button type="submit">Login</button></a>
            </div>
        </center>
        <!-- <p><h1>successfully registered</h1></p> -->
    </body>
</html>