<script>
   let log = document.getElementById('log');

   function handleChange(e) {
   let innerText = e.target[e.target.options.selectedIndex].innerText;
   let value = e.target.value;
   
   log.innerHTML = `<table>
      <tr><th>value</th><th>innerText</th></tr>
      <tr><td>${value}</td><td>${innerText}</td></tr>
   </table>`;

}
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<select id="greet" onchange="handleChange(event)">
  <option value="value_hello">Hello innerText</option>
  <option value="value_goodbye">Goodbye innerText</option>
  <option value="value_seeYou">See you... innerText</option>
</select>

<select id="other_select_menu" onchange="handleChange(event)">
  <option value="value_paris">Paris innerText</option>
  <option value="value_ny">New York innerText</option>
</select>

<div id="log"></div>