<html>
  <head>
    
    
  </head>
  <body>
    <table class='target_url' border='1'>
      <tr>
      <td>hello</td>
      <td>hello</td>
      <td>hello</td>
      </tr>
    </table>
    <script>
      var data =
       [{ id: 1, NAME: 'abc', POST_URL: 'qwert', POST_DATE: '123', },
        { id: 2, NAME: 'xyz', POST_URL: 'poiuy', POST_DATE: '456' },
        { id: 3, NAME: 'pqr', POST_URL: 'vbnmj', POST_DATE: '123' }];
        
        $('.target_url').click(function() {
          var url = $(this).html();
          $.each(data, function(i, item) {
          var $tr=$('<tr></tr>');
          $tr.append($('<td></td>',{text : item.NAME}));
          $tr.append($('<td></td>',{text : item.POST_URL}));
          $tr.append($('<td></td>',{text : item.POST_DATE}));                           
          $('.target_url').find('tbody').append($tr);
        });

        });
    </script>  
    <style>
      .target_url{
        width:250px;
        height:250px;
      }
      .tr{
        background:blue;
      }
    </style>
  </body>
</html>